# all files too big
*.pdf
*/fashion_mnist_images/
*.png
*.pkl

# python cache
__pycache__/

# models and params
*.model
*.parms


/ Downloadable folders
Visualizing_Neural_Networks/class_avgs
Visualizing_Neural_Networks/layer_outs